:root{
    font-size: 100%;
}
@font-face {
    font-family: "shabnam";
    src: url(font/shabnam/Shabnam-FD.woff2);
    font-weight: normal;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "poppins";
    color: white;
    background-color: #080710;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.wrapper{
    position: relative;
    zoom: 80%;
}
.form{
    width: 100%;
    height: 100%;
    padding: 50px 35px 35px 35px;
    background: rgba(255, 255, 255, 0.13);
    border: solid 2px rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    margin: auto;
}
.title{
    font-size: 32px;
    display: block;
    text-align: center;
}
.inputlabel{
    font-size: 16px;
    display: block;
    margin-top: 25px;
}
.input{
    height: 50px;
    background: rgba(255, 255, 255, 0.07);
    width: 330px;
    border: 0;
    margin-top: 5px;
    color: white;
    padding: 0 10px;
    border-radius: 4px;
}
.button{
    font-size: 18px;
    display: block;
    padding-top: 10px;
    width: 330px;
    margin-top: 45px;
    height: 50px;
    border-radius: 4px;
    font-family: "poppins";
    font-weight: bold;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    z-index: -1;
}
.circle1{
    background-image:linear-gradient(90deg,rgb(236, 0, 0), rgb(255, 170, 0));
    position: absolute;
    right: -40px;
    bottom: -110px;
    animation: circle1 4s linear alternate infinite;
}
.circle2{
    background-image:linear-gradient(rgb(0, 71, 236), rgb(0, 132, 255));
    position: absolute;
    top: -100px;
    left: -100px;
    transform: translateX(400px);
    animation: circle2 4s linear alternate infinite;
}
.login{
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}
.input::placeholder{
    color: white;
}
@keyframes circle1{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-280px);
    }
}
@keyframes circle2{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(400px);
    }
}